@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');


/* Phone / Tablet Screens */
@media only screen and (max-device-width: 1000px) {
  
  #drive-ss-container{
    display: none;
  }
  html{
    min-height:100vh;
    width: 100%;
    padding: 0;
    margin:0;
  }
  p{
    font-size: 22px;
  }
  
  #body{
    background-color: #ddd;
    
    min-width:100%;
    min-height:100%;
  
    padding: 0;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size:22px;
  }
  
  #body-resume{

   
    background-color: #ddd;
    padding: 0;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    
  }

  #body-resume h2{
    font-size:55px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 30px;
  }

  #body-resume h4{
    font-size:45px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top:50px;
  }

  #body-resume p{
    font-size:35px;
    font-weight: normal;
    margin-top:10px;
    margin-bottom:10px;
  }

  #body-projects{
    background-color: #ddd;
    padding: 0;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
  }

  #body-projects h2{
    font-size:55px;
    font-weight: bold;
   
    margin-bottom: 30px;
  }

  #body-projects h4{
    font-size:45px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top:50px;
  }

  #body-projects h5{
    font-size:35px;
    font-weight: normal;
    margin-bottom: 30px;
   
   
  }

  #body-projects p{
    font-size:30px;
    font-weight: normal;
    margin-top:10px;
    margin-bottom:10px;
  }

  img{
    border:2px solid #333;
  }
  
  h1{
    padding: 12px;
    margin: 0;
    color: #f2f2f2;
    background-color: #333;   
    text-align: center; 
    text-decoration: underline;
    font-size: 75px;
  }  
  
  a{
    font-family: 'Roboto', sans-serif;
  }
  
  h5{
    margin:0;
    padding: 0;
  }
  
  .divider{
    min-width: fit-content;
    min-height: 2px;
    background-color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
   
  
  }
  
  .divider-vertical{
    min-height: fit-content;
    min-width: 2px;
    background-color: #e4e4e4;
    margin-right: 40px;
    margin-left: 40px;
    display:none;
  }
  
  .header-full{
    background-color: #333;
    
 
  }
  
  .upper-header{
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items:flex-start;
  }
  
  .center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .corner-logo{
    display: flex;
    flex-direction: row;
    padding:0px 5px;
    margin:10px;
    background-color: #333;
    color:#ddd;
    grid-column-start: 1; 
    align-content: flex-start;
    justify-content: center;
    height:fit-content;
    font-size: 25px;
  }
  
  .corner-logo img{
    border:none;
    margin-right:5px;
  }

  .corner-logo h5{
    display: none;
  }
  .header {
    background-color: #333;
    overflow: hidden;
    padding-top:0px;
    display: flex;
    justify-content: center;
    border-bottom:0px solid rgb(145,145,145);
    margin-bottom: 40px;
  }
   
  .header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 45px;
    margin: 0px 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
    
  .header a:hover {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .header a.current-tab {
    background-color: #f2f2f2;
    color: #333;
  }
  
  #profile-pic{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 70%;
    height: 70%;
    border:5px solid #e4e4e4;
  }
  
  .summary-text{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin:10px 10px;
  }
  
  #personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #personal-info a{
    text-decoration: none;
    color:#333;
    display: flex;
    align-content: center;
    margin-top: auto;
    margin-bottom:auto;
  }
  
  .list{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: space-evenly;
    
    min-height: 80%;
  }
  
  .resume-resume{
    padding: 14px 16px;
    color:#333;
    margin-top:0;
    
  }

  .resume-project{
    padding: 14px 16px;
    color:#333;
    margin-top:0;
  }
  .resume{
    padding: 14px 16px;
    color:#333;
    margin-top:0;

    
    
  }
  
  .resume p{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }
  
  .resume h2{
      
      text-decoration: underline;
      font-size:45px;
      text-align: center;
    }
  
  .resume h4{
      font-size: 30px;
      font-weight: 700;
  }
  
  #resume-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }  
  
  .resume-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
  }

  .list-items{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
   
  }

  .resume-section h2{
    margin-bottom: 0;
  }
  .resume-section p{
    text-align: center;
  }

  .resume-section h4{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
  }

  .contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width:fit-content;
    padding:0px 10px;
    border: 0px solid #e4e4e4;
    font-size: 30px;
    justify-content: center;
  }

  .contact-info h2{
    font-size:45px;
    text-align: center;
  }
  .contact-info p{
    font-size: 30px;
  }
  
  .link-button{
    width:fit-content;
  }
  
  .contact-img{
    border:none;
    height:50px;
    width:50px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .contact-info:hover{
    background-color: #f2f2f2;
  }
  
  .footer-space{
    padding: 0;
    margin: 0;
    height: 60px;
    min-width: 100%;
    background-color:  #ddd;
  }
  
  .project-section{
    text-align: center;
    padding-left: 0%;
  }

  
  #drive-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
  }
  
  #drive-images p{
    font-size: 40px;
  }
  .drive-img{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:80%;
  }
  
  #drive-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  #drive-info img{
    margin-right: auto;
    margin-left:auto;
    width:90%;
    height:60%;

    margin-top:20px;
    margin-bottom:20px;
  }
  
  #drive-poster{
    width:70%;
    height: auto;
  }

  .photo-caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    margin-bottom: 20px;
  }
  
  .caption{
    margin:15px;
    padding: 0;
    font-size: 22px;

  }
  
  .video{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin:0;
    padding: 0;
    
  }
  
  .video h2{
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;

    font-size: 45px;
  }
  
  .video video{
    width: 70%;
    height: auto;
    margin:10px 10px;
    padding: 5px 5px;
    background-color: #e4e4e4;
  }

  .split-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    
    width: 100%;
    height:100%;
    margin:0;

    
  }
  
  #split-divider{
    background-color:black;
  }

  .contact-me{
    min-width: 100%;
    font-size: 30px;
  }

  .contact-me h2{
    font-size: 45px;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .field{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    font-size: 30px;
  }
  
  .field p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    
    font-size: 30px;
  }
  
  .field textarea{
    margin-top:5px;
    resize: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align:start;
    padding: 10px;
  
    background-color: #f2f2f2;
    border:2px solid #333;
  }
  
  .form-button{
    margin-top:50px;
    margin-bottom: 20px;
    width: 60%;
    height:100px;
    background-color: #f2f2f2;
    color:#333;
    font-size:1.3em;
    font-family: 'Roboto', sans-serif;
    border:2px solid #333;  
  }
  
  .form-button:active{
    background-color: green;
  }

  #footer{
    background-color: #333;
    color:#ddd;
    text-align: center;
    padding-right:0px;
    padding-top: 0%;
    padding-bottom: 0%;
    bottom:0;
    position:relative;
    min-width:100%;
    margin:0;
    margin-top:50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  
    font-weight: bold;
    font-size: 1.7em;
  
    border-top:0px solid rgb(145, 145, 145); 
  }

  #footer p{
    display: none;
  }
  
  .footer-logo{
    border-style: none;
    height:100px;
    width:100px;
    padding:5px 5px;
    margin: 20px 5px;
  }
  
  .footer-logo:hover{
    border-style: none;
    height:30px;
    width:30px;
    padding:5px 5px;
    margin: 5px 5px;
    background-color: rgb(145, 145, 145);
  }
}

/*Laptop / Desktop Screens */
@media only screen and (min-device-width: 1000px) {
  #split-divider{
    display: none;
  }
  html{
    min-height:100vh;
    min-width: 100vh;
    padding: 0;
    margin:0;
  }
  
  body{
    background-color: #ffffff;
    
    min-width:100vh;
    min-height:100vh;
  
    padding: 0;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;

    position: relative;
  }
  
  img{
    border:2px solid #333;
  }
  
  h1{
    padding: 12px;
    margin: 0;
    color: #333;
    background-color: #f2f2f2;   
    text-align: center; 
    text-decoration: none;
    font-size: 38px;
  }  
  
  a{
    font-family: 'Roboto', sans-serif;
  }
  
  h5{
    margin:0;
    padding: 0;
  }
  
  .divider{
    min-width: fit-content;
    min-height: 2px;
    background-color: rgb(185, 185, 185);
    margin-top: 20px;
    margin-bottom: 20px;  
  }
  
  .divider-vertical{
    
    min-width: 2px;
    background-color:  rgb(185, 185, 185);
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .header-full{
    background-color: #f2f2f2;
    padding-bottom: 10px;
    padding-top:10px;
    margin-bottom:0px;
  }
  
  .upper-header{
    display: none; /*grid*/
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items:flex-start;
  }
  
  .center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .corner-logo{
    /*display: flex;*/
    display:flex;
    flex-direction: row;
    padding:0px 5px;
    margin:10px;
    
    color:#f2f2f2;
    grid-column-start: 1; 
    align-content: flex-start;
    justify-content: center;
    height:fit-content;
  }
  
  .corner-logo img{
    border:none;
    margin-right:5px;
    display: none;
  }
  .header {
    /*background-color: #333;*/
    overflow: hidden;
    padding-top:0px;
    display: flex;
    justify-content: space-evenly;
    
    margin-bottom: 0px;
  }
   
  .header a {
    float: left;
    /*color: #f2f2f2;*/
    color:#333;
    text-align: center;
    padding: 14px 46px;
    
    text-decoration: none;
    font-size: 16px;
    margin: 0px 20px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
  }
    
  .header a:hover {
    background-color: #333;
    color: #f2f2f2;
  }
  
  .header a.current-tab {
    background-color: #333;
    color: #f2f2f2;
  }
  
  #profile-pic{
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
    width: 20%;
    height: 20%;
    border:solid 1px #333;
    
   
    margin-top:auto;
    margin-bottom:auto;
    margin-right:0;   
  }
  
  .summary-text{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin:10px 10px;
  }
  
  #personal-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #personal-info a{
    text-decoration: none;
    color:#333;
    display: flex;
    align-content: center;
    margin-top: auto;
    margin-bottom:auto;
  }

  #personal-info h2{
    padding-left: 20px;
  }
  
  .list{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: space-evenly;
    
    min-height: 80%;
  }
  

  .resume-section{
    margin-left:20px;
  }

  .resume-section h2{
    text-decoration: underline;
  }
  .resume-section h4{
    margin-left:20px;
  }

  .resume-section p{
    margin-left:40px;
  }
  .resume{
    padding: 14px 16px;
    padding-top:0px;
    color:#333;
    margin-top:0;
  }
  
  .resume p{
      font-size: 18px;
  }
  
  .resume h2{
    text-decoration: underline;
    font-size:30px;
    }
  
  .resume h4{
      font-size: 22px;
  }
  
  #resume-header{
    display: flex;
    flex-direction: row;
    /*align-items:center;*/
    justify-content: space-evenly;
    width:100%;
    
  }  
  
  .contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:fit-content;
    padding:0px 10px;
    border: 0px solid #e4e4e4;
  }
  
  .link-button{
    width:fit-content;
  }
  
  .contact-img{
    border:none;
    height:50px;
    width:50px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .contact-info:hover{
    background-color: #fafafa;
  }
  
  .footer-space{
    padding: 0;
    margin: 0;
    height: 60px;
    min-width: 100%;
    background-color:  #ddd;
  }
  
  #drive-images{
    display: flex;
    justify-content: center;
    justify-items: stretch;
  }
  
  .drive-img{
    margin-left: auto;
    margin-right: auto;
  }
  
  #drive-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  video
  #drive-info img{
    margin-right: 10px;
  }
  
  .photo-caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:0;
    margin-right:0;
    margin-bottom:40px;
    padding:0;
    
  }
  
  .photo-caption p{
    font-size: 1em;
  }
  
  .video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding: 0;
  }
  
  .video h2{
    margin-top: 0px;
  }
  
  .video video{
    width: 50%;
    height: 60%;
    margin:10px 10px;
    
    background-color: #fafafa;
    border:solid 1px #333;
  }
  
  .split-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin:0;
    margin-bottom: 60px;
  }
  
  .contact-me{
    min-width: 50%;
    max-width: 60%;
  }
  
  .form{
    padding: 20px;
    background-color: #fafafa;
    border: solid 2px #333;
    margin-bottom: 30px;
  }

  .field{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding-bottom:10px;
  }
  
  .field p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 1.1em;
    margin-left: 0;
    margin-top: 0;
  }
  
  .field textarea{
    margin-top:5px;
    resize: none;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-align:start;
    padding: 10px;
  
    background-color: #ffffff;
    border:2px solid #333;
    
  }
  
  .form-button{
    margin-top:20px;
    width: 30%;
    height:50px;
    background-color: #ffffff;
    color:#333;
    font-size:1.25em;
    font-family: 'Roboto', sans-serif;
    border:2px solid #333;  
  }

  .form-button:active{
    background-color:green;
  }
  
  .form-button:hover{
    background-color: #e4e4e4;
  }
  
  #portfolio-website{
    margin-bottom:50px;
  }
  
  #footer{
    background-color: #333;
    color:#ddd;
    text-align: center;
    padding-right:0px;
    padding-top: 0%;
    padding-bottom: 0%;
    bottom:0;
    position:absolute;
    min-width:100%;
    margin:0;
    margin-top:50px;
    margin-bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
  
    border-top:0px solid rgb(145, 145, 145); 
  }
  
  .footer-logo{
    border-style: none;
    height:30px;
    width:30px;
    padding:5px 5px;
    margin: 5px 5px;
  }
  
  .footer-logo:hover{
    border-style: none;
    height:30px;
    width:30px;
    padding:5px 5px;
    margin: 5px 5px;
    background-color: rgb(145, 145, 145);
  }

  .project-section {
    margin-left:10px;
  }
  .project-section h4{
    margin-left: 20px;
    font-size:26px;
    margin-top:0;
    margin-bottom:15px;
  }

  .project-section h5{
    margin-left :30px;
    margin-top:15px;
    margin-bottom:10px;
    font-size:22px;
  }
  .project-section p{
    margin-left:40px;
    font-size:18px;
    margin-top:0;
    margin-bottom:10px;
  }

  .photo-caption img{
    margin-left: 40px;
  }

  .picture-slide{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin:20px 20px;
    width: fit-content;
  }
  
  .photo-caption-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #current-drive-img{
    margin:0;
    padding:0;
    border:solid 2px #333;
  }

  .slide-button{
    height:100px;
    margin:0;
    padding: 0;

    background-color: #e4e4e4;
    color:#333;
    border: none;

  }

  .slide-button:hover{
    color: #f2f2f2;
    background-color:#333;
    
  }

  #active-caption{
    margin:0;
    margin-top: 20px;
    width: fit-content;
  }

  .img-thumbnail{
    height:40%;
    width:20%;
    margin:20px;
    padding:0;
    opacity: 50%;
    border: none;
  }

  .column-center{
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    margin-top: 50px;
    
  }

  .column-center h4{
    margin: 0;
    padding: 0;
    text-decoration: underline;
    
  }

  .arrow-button{
    border: none;
  }

  #drive-ss-container{
    margin-left: 0px;
    margin-right: 20px;
    background-color: #e4e4e4;
    padding:40px 40px 20px;
    width: 50%;
    border: solid 2px #e4e4e4;
  }

  .centered-div{
    display: flex;
    justify-content: center;
  }

  #certificates{
    margin-bottom: 50px;
  }

  #award-video{
    margin-bottom:0;
    border: none;
  }

  #about-me-text{
    display: flex;
    min-height: 80%;
   
    justify-content:space-evenly;
  
    flex-direction: column;
  }

  #about-me-text h2, p{
    
    margin: 10px;
  }

  #about-me{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  /*
  #profile-vert-divider{
    margin-left:0;
      
  }

  #profile-horz-divider{
    margin-top:0;

  }
  */

  .resume-resume{
    padding: 14px 16px;
    padding-top:0px;
    color:#333;
    margin-top:0;
    
  }

  .resume-project{
    padding: 14px 16px;
    padding-top:0px;
    color:#333;
    margin-top:0;
  }

  .caption{
    font-family: 'Roboto', sans-serif;
  }

  
  
  #header-divider{
    background-color: #ffffff;
    margin-top: 0;
  }
}


